<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/event_card.css">
    <title>Event card</title>
</head>

<body style="font-family: Archivo;">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid mx-3">
            <div class="">
                <a class="navbar-brand" href="/"><img src="/assets/event-master-high-resolution-logo-transparent.png"
                        alt="logo" srcset="" width="230px"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="#">My Events</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item d-flex ms-md-3">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle"
                            style="width: 40px;" alt="Avatar" />
                        <a class="nav-link active" aria-current="page" href="#">
                            <%= user.name %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Event card -->


    <div class="container mt-5 d-flex flex-wrap">
        <div class="col-md-6 p-4">
            <div class="d-flex justify-content-between">
                <p class="h4" style="font-family: Cormorant Garamond;">
                    <%= event.name %>
                </p>
                <p><i class="bi bi-people"></i>
                    <%= event.participants %>
                </p>
            </div>
            <div class="text-secondary">
                <p class="m-0">
                    <%= event.location %>
                </p>
                <p class="m-0">
                    <%= event.date %>
                </p>
            </div>
            <div>
                <p id="price" class="mb-2"><i class="bi bi-currency-dollar"></i>
                    <%= event.price %>
                </p>
            </div>
            <p>
                <% if (event.description) { %>
                    <%= event.description %>
                        <% } else { %>
                            <p>No description avaliable</p>
                            <% } %>

            </p>
        </div>


        <div class="col-md-6 p-md-5 p-4" style="background-color: #f3f4f6;">
            <p class="h5 fw-bold">Tickets</p>
            <p class="text-secondary">Select the number of tickets you'd like to purchase.</p>

            <div>
                <p class="mb-2">Quantity</p>
                <form action="/api/payment" method="post">
                    <select name="quantity" onchange="selectQuantity()" class="form-select w-25"
                        aria-label="Default select example" id="quantity">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="hidden" name="price" value="<%= event.price %>" id="">
                    <input type="hidden" name="eventID" value="<%= event._id %>" id="">
                    <input type="hidden" name="userID" value="<%= user._id %>" id="">
                    <div class="d-flex justify-content-between mt-4">
                        <p class="fw-bold">Total</p>
                        <p class="fw-bold" id="total-price">$ <%= event.price %>
                        </p>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-dark">Buy Tickets</button>
                    </div>
                </form>
            </div>
        </div>

        <% user.createdEvents.forEach(element=> { %>
            <% if (element.id==event.id) { %>
                <form action="/api/event/delete-event" method="post">
                    <input type="hidden" value="<%= event._id %>" name="eventId">
                    <button class="btn btn-danger mt-3">Delete Event</button>
                </form>
                <% } %>
                    <% }) %>














                        <script src="/script/eventCard.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
                            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
                            crossorigin="anonymous"></script>
</body>

</html>