<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/event_card.css">
    <title>Event card</title>
</head>

<body style="font-family: Archivo;">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid mx-3">
            <div class="">
                <a class="navbar-brand" href="/"><img src="/assets/event-master-high-resolution-logo-transparent.png"
                        alt="logo" srcset="" width="230px"></a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="/homepage/<%= user._id %>">Home</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="/homepage/<%= user._id %>/my-event">My
                            Events</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="#">About</a>
                    </li>
                    <li class="nav-item d-flex">
                        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle"
                            style="width: 40px;" alt="Avatar" />
                        <a class="nav-link active" aria-current="page" href="#">
                            <%= user.name %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/user/logout">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Event card -->


    <div class="container mt-5 d-flex flex-wrap">
        <div class="col-md-6 p-4">
            <div class="d-flex justify-content-between">
                <p class="h4" style="font-family: Cormorant Garamond;">
                    <%= event.name %>
                </p>
                <p><i class="bi bi-people"></i>
                    <%= event.participants %> participants
                </p>
            </div>
            <div class="text-secondary">
                <p class="m-0">
                    <%= event.location %>
                </p>
                <p class="m-0">
                    <%= event.date %>
                </p>
            </div>
            <div>
                <p id="price" class="mb-2"><i class="bi bi-currency-dollar"></i>
                    <%= event.price %>
                </p>
            </div>
            <p>
                <% if (event.description) { %>
                    <%= event.description %>
                        <% } else { %>
                            <p>No description avaliable</p>
                            <% } %>

            </p>
        </div>


        <div class="ms-md-auto col-md-4 p-md-5 p-5" style="background-color: #f3f4f6;">
            <p class="h5 fw-bold">Your Ticket</p>
            <p class="text-secondary">This is the ticket you purchased for the event.</p>

            <div class="fw-bold">
                <div class="d-flex justify-content-between">
                    <p class="">Event</p>
                    <p>
                        <%= event.name %>
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Date</p>
                    <p>
                        <%= event.date %>
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Location</p>
                    <p>
                        <%= event.location %>
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Quantity</p>
                    <p>
                        <%= ticket.quantity %>
                    </p>
                </div>
                <div class="d-flex justify-content-between">
                    <p class="">Total Price</p>
                    <p>
                        $<%= ticket.totalPrice %>
                    </p>
                </div>
            </div>

        </div>


        <!-- Live chat -->

        <div class="container my-5 row">
            <p class="fs-3">Live chat for event Participants</p>
            <p>Here you can see the chat history</p>
            <div class="col-md-6 border border-2 p-5">
                <div id="chatDisplay" class="overflow-auto" style="max-height: 400px;">
                    <ul id="chatMessages"></ul>
                </div>
                <div>
                    <form id="chatForm">
                        <input type="text" id="chatInput" class="form-control" placeholder="Send your message">
                        <button type="submit" class="btn btn-primary mt-2"><i class="bi bi-send"></i></button>
                    </form>
                </div>
            </div>
        </div>











        <input type="hidden" id="eventRoom" value="<%= event._id %>">
        <input type="hidden" id="userName" value="<%= user.name %>">

        <script src="/socket.io/socket.io.js"></script>
        <script src="/script/ticket_card.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
</body>

</html>